<div class="card card-body bg-info text-center">
	<% if flash[:alert] %>
		<p id="notice"> <%= flash[:alert]%> </p>
	<% end %>
	<%= form_tag do %>
	<fieldset>
		<legend>Please log in</legend>
		<div class="form-group">
			<%= label_tag :name, 'Name: ' %>
			<%= text_field_tag :name, '', :class => 'form-control text-center' %>
		</div>
		<div class="form-group">
			<%= label_tag :password, 'Password: ' %>
			<%= password_field_tag :password, '', :class => 'form-control text-center' %>
		</div>
		<div class="form-group">
			<%= submit_tag "Login", :class => 'btn btn-primary' %>
		</div>
		<div class="form-group">
			<p>If you don't have an account please <%= link_to 'Sign Up', signup_url %></p>
		</div>
	</fieldset>
	<% end %>
</div>