
<div class="jumbotron">

<h1>Currencies</h1>

<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<p id="notice"> <%= flash[:notice] %> </p>
	</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Amount to buy</th>
      <th>Action</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td>
        <%= image_tag("#{currency.name.downcase.gsub(' ', '_')}.svg", size: '23x23') %>
        <%= currency.name %> (<%= currency.symbol %>)
        </td>
        <td> <%= number_to_currency(currency.price) %></td>
          <%= form_with url: open_modal_currency_path(currency.id), id: "buy-form-#{currency.id}", method: :get do |f| %>
          <td> <%= f.number_field :quantity, step: 0.1 %> </td>
          <td> <%= f.submit 'Buy!', class: 'btn btn-primary', id: "buy-#{currency.id}", data: { disable_with: false } %> </td>
        <% end %>
      </tr>

      <div class="modal fade" style="padding: 60px;" id="currency-<%= currency.id.to_s %>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        </div>
      </div>

    <% end %>
  </tbody>
</table>
</div>

<br>
