
<div class='jumbotron'>

<div class="card card-body bg-default">


<% if flash[:alert] %>
	<div class="alert alert-info" role="alert">
		<p id="notice"> <%= flash[:alert] %> </p>
	</div>
<% end %>

<%= form_with(model: @user, url: '/signup') do |form| %>

	<fieldset>
		<legend><h3>Enter user details</h3></legend>

		<div class="form-group">
			<%= form.label :name %>
			<%= form.text_field :name, id: :user_name , :class => 'form-control text-left' %>
		</div>

				<div class="form-group">
			<%= form.label :password %>
			<%= form.password_field :password, id: :user_password , :class => 'form-control text-left' %>
		</div>

				<div class="form-group">
			<%= form.label :password_confirmation%>
			<%= form.password_field :password_confirmation, id: :user_password_confirmation , :class => 'form-control text-left' %>
		</div>

		<div class="actions">
			<%= form.submit :'Create User', class: 'btn btn-success'  %>
		</div>

	</fieldset>

<% end %>

</div>
</div>
